name: cd.yml
on:
  push:
    branches: [main]
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"
      - run: bash scripts/buildprod.sh
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v3
      - name: 'Use gcloud CLI'
        run: 'gcloud info'
      - name: Build and push image with Cloud Build
        run: |
          gcloud builds submit \
            --tag europe-west3-docker.pkg.dev/notely-488816/notely-ar-repo/nostreum/notely:latest \
            .
